<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel = "stylesheet" href = "styles/styles.css">
    <title>Dogs are great</title>
</head>
<body>
<h1>I love dogs!</h1>
<p>Here is the link to the git repo:<a href = "https://github.com/SageMar/pets">https://github.com/SageMar/pets</a></p>
<p>This was Ginger, she was my in-laws dog for 7 years</p>
<img src = "images/pets.jpg" alt = "picture of brown lab with a hat on">


</body>
</html>